PM3/HelloWorldCA/src/jbiServiceUnits/WarehousesInvocationModueService/localhost_8080/SupplyChainWebService/PlaceOrderWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.webapp/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.webapp/">

<xs:element name="placeOrder" type="tns:placeOrder"/>

<xs:element name="placeOrderResponse" type="tns:placeOrderResponse"/>

<xs:complexType name="placeOrder">
<xs:sequence>
<xs:element name="itemsList" type="tns:itemList" minOccurs="0"/>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemList">
<xs:sequence>
<xs:element name="itemsList" type="tns:item" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="item">
<xs:sequence>
<xs:element name="manufacturerName" type="xs:string" minOccurs="0"/>
<xs:element name="productId" type="xs:int"/>
<xs:element name="productType" type="xs:string" minOccurs="0"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="unitPrice" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="customerReferenceNumber" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="state" type="xs:string" minOccurs="0"/>
<xs:element name="street1" type="xs:string" minOccurs="0"/>
<xs:element name="street2" type="xs:string" minOccurs="0"/>
<xs:element name="zip" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="placeOrderResponse">
<xs:sequence>
<xs:element name="return" type="tns:itemShippingStatusList" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemShippingStatusList">
<xs:sequence>
<xs:element name="shippedList" type="tns:item" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="unshippedList" type="tns:item" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>